[client]
port = 3306
socket = /var/run/mysqld.sock

[mysqld]
socket = /var/run/mysqld.sock
port = 3306
user = mysql

table_open_cache = 3072
table_definition_cache = 4096
max_heap_table_size = 64M
tmp_table_size = 64M
max_connections = 505
max_user_connections = 500
max_allowed_packet = 16M
thread_cache_size = 32
query_cache_size = 64M
